.container {
    position: absolute;
    top: 142px;
    left: 1379px;
    width: 473px;
    height: 823px;
    background-color: #525252;
    border-radius: 15px 15px 15px 15px;
    transform: rotate(0);
}