.board {
    background-color: #292929;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 300px 3%;
    box-sizing: border-box;
}