.wrapper {
    background-color: #5DA5ED;
    height: 50px;
    width:1920px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.circle {
    position: absolute;
    left: 1870px;
    top: 5px;
    width: 40px;
    height: 40px;
    background-color: #FFFFFF;
    border-radius: 50%;
}