.container {
    position: relative;
    width: 27%;
    background-color: #525252;
    border-radius: 15px 15px 15px 15px;
}

/* RESPONSIVE */
@media (max-width: 1200px) {
    .container {
        width: 48.5%;
    }
}

@media (max-width: 769px) {
    .container {
        width: 94%;
        margin: 50px 0;
    }
}